mixin input(label,placeholder,type)
  - placeholder = placeholder || ''
  - type = type || 'text'
  - model = label.toLowerCase().replace(' ', '_')
  div
    label(for=model)= label
    input(id=model type=type ng-model=model placeholder=placeholder)
    if block
      block

mixin textarea(label, model)
  - model = model || (label.toLowerCase().replace(' ', '_'))
  div
    label(for=model)= label
    textarea(id=model ng-model=model)
    if block
      block

h2 RSVP

p Fill out the form below to email us with your RSVP. We'll email you back if
  | there are any questions. Thanks so much! We look forward to celebrating with
  | you.

form#rsvp(ng-submit="submit()")
  +input('Email', 'example@gmail.com', 'email')
    p In case we need to contact you!
  +input('Attending', '', 'checkbox')
    p Are you going to be able to attend?
  +input('Guests', '0', 'text')
    p Number of guests that will attend
  +textarea('Names')
    p Names of the guests
  +textarea('Song Requests')
    p Do you have any song requests for our playlist?
  +textarea('Allergies')
    p If you have any food allergies or dietary restrictions please let us know!

  div.controls
    input#gotcha(type="text" ng-model="gotcha" style="display:none;")
    input#submit(type="submit")
